<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137771926909-ik5rchrqd9flik1smb34cch5h1uuf7td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137771926909-ik5rchrqd9flik1smb34cch5h1uuf7td</string>
	<key>API_KEY</key>
	<string>AIzaSyBINjENzInTcs073IHa_6ouBHXT3NzvFOs</string>
	<key>GCM_SENDER_ID</key>
	<string>137771926909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fjbcoin.org.fjbCoin</string>
	<key>PROJECT_ID</key>
	<string>fjbcoin-2f13b</string>
	<key>STORAGE_BUCKET</key>
	<string>fjbcoin-2f13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137771926909:ios:fae252d636cd9a6dc0b814</string>
</dict>
</plist>